@import "../../app/variables";

.btn {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        width: max-content;
        padding: 24px 51px;
        border-radius: 100px;
        border: none;
        background-color: $colorDarkBlue;
        color: $colorWhite;
        font-size: 20px;
    }
}