@import "../../app/variables";

.section {
    margin-bottom: 60px;
}

.container {
    padding-top: 10px;
    border-top: solid 1px rgba(24, 48, 108, 0.2);
}

.sectionTitle {
    margin-bottom: 107px;
    color: $colorActive;
}

.slider {
    position: relative;
    transition: 300ms;
}

.slider * {
    box-sizing: border-box;
}

.arrowLeft {
    position: absolute;
    top: 0px;
    right: 27px;
    border: transparent;
    background-color: transparent;
}

.arrowRight {
    position: absolute;
    top: 0px;
    right: 0px;
    border: transparent;
    background-color: transparent;
}

.iconLeft,
.iconRight {
    width: 20px;
    height: 20px;
}

.slideTitle {
    width: 213px;
    min-height: 82px;
    padding-bottom: 18px;
    border-bottom: solid 1px $colorActive;
}

.horLine {
    margin-top: -1px;
    margin-bottom: 18px;
}

.sliderCard {
    position: relative;
    width: 100%;
    padding: 30px 20px 70px;
    color: $colorWhite;
    border-radius: 12.2px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 300ms;
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    color: rgba(255, 255, 255, 0.8)
}

.aboutUsLink {
    //// current design
    // display: none;

    // final design
    position: absolute;
    right: 16px;
    bottom: 18px;

    // @media screen and (min-width: $desktop) {
    //     right: 33px;
    //     bottom: 33px;
    // }
}

.aboutUsArrow {
    display: block;
    width: 40px;
    height: 40px;

    // @media screen and (min-width: $desktop) {
    //     width: 53px;
    //     height: 53px;
    // }
}