$mobile: "375px";
$desktop: "1920px";

// @media screen and (min-width: $mobile) {}

// @media screen and (min-width: $desktop) { }



$colorWhite: #FFFFFF;
$colorDarkBlue: #18306C;
$colorAliceBlue: #EAF0FF;
$colorActive: #F2683C;