@import "../../app/variables";

.container {
    width: 335px;

    @media screen and (min-width: $desktop) {
        width: 724px;
    }
}

.title {
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 33px;
    }
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 26px;
        flex-direction: row;
        column-gap: 14px;
        row-gap: 19px;
        flex-wrap: wrap;
    }
}

.input {
    width: 100%;
    padding: 18px 17px;
    background-color: $colorWhite;
    border-radius: 13px;
    border-color: transparent;

    @media screen and (min-width: $desktop) {
        max-width: 355px;
        padding: 13px 17px;
        border-radius: 12px;
    }
}

.input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    opacity: 60%;

    @media screen and (min-width: $desktop) {
        font-size: 16px;
        line-height: 1.4;
    }
}

.btn {
    width: 100%;
    padding: 18px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 13px;
    border-color: $colorWhite;
    color: $colorWhite;
    background-color: transparent;

    @media screen and (min-width: $desktop) {}
}

.btnText {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;

    @media screen and (min-width: $desktop) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.arrow {
    display: block;
    width: 18px;
    height: 18px;
    fill: $colorActive;
}