@import "../../app/variables";

.section {
    padding: 30px 20px 95px;
    color: $colorWhite;
    background-color: $colorDarkBlue;
    border-radius: 13px 13px 0px 0px;

    @media screen and (min-width: $desktop) {
        padding: 45px 40px;
        border-radius: 20px;
    }
}

.careersTitle {
    margin-bottom: 91px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 93px;
    }
}

.careersOffices {
    margin-bottom: 14px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 25px;
    }
}

.contentWrapper {
    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(713px, 713px);
        grid-column-gap: 26px;
    }
}

.officesList {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 31px;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding-top: 12px;

    @media screen and (min-width: $desktop) {
        grid-column-start: 1;
        grid-row-start: 1;
        margin-bottom: 0px;
        padding-top: 19px;
    }
}

// .careersPhoto {
//     object-fit: cover;
//     border-radius: 13px;
//     overflow: hidden;
//     margin-bottom: 20px;

//     @media screen and (min-width: $desktop) {
//         grid-column-start: 3;
//         grid-row-start: 1;
//         width: 601px;
//         height: 713px;
//         margin-bottom: 0px;
//         z-index: 10;
//         border-radius: 0px 20px 20px 0px;
//         background: url(/images/careers.webp), url(/images/globe-careers-desktop.webp) no-repeat center center;
//         background-size: 100% 100%;
//     }
// }

.careersPhotoWrapper {
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
        grid-column-start: 3;
        grid-row-start: 1;
        width: 601px;
        height: 713px;
        margin-bottom: 0px;
        z-index: 10;
        border-radius: 0px 20px 20px 0px;
        background: url(/images/globe-careers-desktop.webp) 120px 70px / 80% 90% no-repeat, url(/images/careers.webp) center center / 100% 100% no-repeat;
    }
}

.awards {
    padding: 20px;
    color: $colorDarkBlue;
    background-color: $colorAliceBlue;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        margin-bottom: 0px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.iconPlanet {
    width: 39px;
    height: 39px;
    margin-bottom: 122px;

    @media screen and (min-width: $desktop) {
        width: 53px;
        height: 53px;
        margin-bottom: 0px;
    }
}

.awardsText {

    @media screen and (min-width: $desktop) {
        width: 46%;
    }
}

.linksWrapper {

    @media screen and (min-width: $desktop) {
        grid-column-start: 1;
        grid-row-start: 1;
        margin-top: auto;
    }
}

.careersLink {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @media screen and (min-width: $desktop) {
        column-gap: 11px;
    }
}

.careersLink:not(:last-child) {
    margin-bottom: 14px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 15px;
    }
}

.linkText {
    text-decoration: underline;

    @media screen and (min-width: $desktop) {
        font-weight: 400;
        font-size: 26px;
        line-height: 1.35;
    }
}

.arrow {
    display: block;
    width: 18px;
    height: 18px;
    fill: $colorActive;
}