@import "../../app/variables";

.header {
    padding: 32px 20px 20px;

    @media screen and (min-width: $desktop) {
        padding: 34px 60px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($colorWhite, $colorWhite);
}

.logoLink {
    position: relative;
    width: 137px;
    height: 25px;

    @media screen and (min-width: $desktop) {
        width: 200px;
        height: 36px;
    }
}

.navLinksList {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
        column-gap: 98px;
    }
}

.burgerBtn {
    border: transparent;
    border-radius: 50%;

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.icon {
    width: 28px;
    height: 28px;
    // fill: $bodyColor;
    // stroke: $textColor;
}

// .close {
//     width: 32px;
//     height: 32px;
// }