@import "../../app/variables";

.container {
    border-top: solid 1px rgba(24, 48, 108, 0.2);
    padding-top: 10px;

    @media screen and (min-width: $desktop) {
        padding-top: 16px;
    }
}

.titleAbout {
    margin-bottom: 107px;
    color: $colorActive;

    @media screen and (min-width: $desktop) {
        margin-bottom: 12px;
    }
}

.aboutList {
    color: $colorDarkBlue;
    margin-bottom: 70px;

    @media screen and (min-width: $desktop) {
        width: 50vw;
        margin-left: auto;
        margin-bottom: 100px;
    }
}

.aboutItem {
    @media screen and (min-width: $desktop) {
        width: 75%;
    }
}

.aboutItem.a,
.aboutItem.b {
    padding-bottom: 50px;
    border-bottom: solid 1px rgba(24, 48, 108, 0.2);

    @media screen and (min-width: $desktop) {
        padding-bottom: 66px;
    }
}

.aboutItem.b,
.aboutItem.c {
    padding-top: 50px;

    @media screen and (min-width: $desktop) {
        padding-top: 60px;
    }
}

.dataTitle {
    margin-bottom: 25px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 30px;
    }
}

.videoWrapper {
    position: relative;
    width: 375px;
    height: 480px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 70px;
    background: url(/images/globe-about-mobile.webp) 37px top / 100% 100% no-repeat, url(/images/aboutUs.gif) center center /cover no-repeat;

    @media screen and (min-width: $desktop) {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
        width: 100%;
        height: 904px;
        border-radius: 20px;
        overflow: hidden;
        background: url(/images/globe-about-desktop.webp) center center / 100% 100% no-repeat, url(/images/aboutUs.gif) center center /cover no-repeat;
    }
}

.iconSound {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 41px;
        height: 35px;
        cursor: pointer;
    }
}

.awardsWrapper {

    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(435px, auto);
        grid-column-gap: 20px;
        grid-row-gap: 44px;
        position: relative;
    }
}

.storyTitleTextWrapper {
    border-top: solid 1px rgba(24, 48, 108, 0.2);
    padding-top: 10px;

    @media screen and (min-width: $desktop) {
        padding-top: 16px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.titleStory {
    margin-bottom: 107px;
    color: $colorActive;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
    }
}

.aboutFilm {
    margin-bottom: 70px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
    }
}

.awards {
    padding: 20px;
    background-color: $colorAliceBlue;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 60px;

    @media screen and (min-width: $desktop) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 20px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
}

.iconPlanet {
    width: 38px;
    height: 38px;
    margin-bottom: 128px;

    @media screen and (min-width: $desktop) {
        width: 53px;
        height: 53px;
        margin-bottom: 0;
        margin-left: auto;
    }
}

.titleAwards {
    margin-bottom: 48px;

    @media screen and (min-width: $desktop) {
        margin-top: auto;
    }
}

.ourHistoryList {
    margin-bottom: 88px;

    @media screen and (min-width: $desktop) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        display: flex;
        column-gap: 20px;
        margin-bottom: 0px;
    }
}

.historyItem:first-child {
    margin-bottom: 58px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
    }
}

.ourHistoryPhoto {
    object-fit: cover;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
        width: 435px;
        height: 435px;
    }
}

.ourHistoryPhoto.firstHistory {
    margin-bottom: 58px;
    object-position: -32px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 80px;
    }
}

.text.firstHistory,
.text.secondHistory {
    @media screen and (min-width: $desktop) {
        border-top: solid 1px rgba(24, 48, 108, 0.2);
        padding-top: 30px;
    }
}

.text.secondHistory {
    @media screen and (min-width: $desktop) {
        width: 738px;
    }
}

.ourHistoryPhoto.secondHistory {
    @media screen and (min-width: $desktop) {
        margin-bottom: 334px;
    }
}

.aboutUsCard {
    position: relative;
    width: 335px;
    height: 188px;
    padding: 15px 18px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $colorWhite;
    background-color: $colorDarkBlue;
    border-radius: 13px;
    overflow: hidden;

    @media screen and (min-width: $desktop) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 579px;
        height: 301px;
        padding: 35px 35px 39px;
        margin-left: auto;
        margin-top: 300px;
    }
}

.competencies {
    width: 225px;

    @media screen and (min-width: $desktop) {
        width: 390px;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.1;
    }
}

.aboutUsLink {
    // current design
    display: none;

    // // final design
    // position: absolute;
    // right: 16px;
    // bottom: 16px;

    // @media screen and (min-width: $desktop) {
    //     right: 33px;
    //     bottom: 33px;
    // }
}

.aboutUsArrow {
    display: block;
    width: 40px;
    height: 40px;

    @media screen and (min-width: $desktop) {
        width: 53px;
        height: 53px;
    }
}